/* HTML */

html, body {
    height: 100%;
}

/*-------------------------------------------------------*/

/* CART CONTENT */

.cart-header {
    font-size: 25px;
    font-weight: bold;
}

.cart-divisions {
    font-size: 15px;
    color: grey;
    border-bottom: 1px solid grey;
}

h5 {
    font-weight: bold;
}

.course-name {
    color: black;
}

.course-name:hover {
    color: black;
}

.btn-remove {
    font-size: smaller;
    color: darkgrey;
    cursor: pointer;
}

/*-------------------------------------------------------*/

/* PAYMENT MODAL */

#paypal-info {
    color: #2851a3;
    font-size: small;
}

/*-------------------------------------------------------*/

/* SUCCESS MODAL */

.fa-check-circle {
    color: #3b997a;
}

