body {
    background-color: #b5d7f4;
}

.navbar, footer, #dropdown-menu {
    background-color: #2851a3;
    color: #f6f7f9;
}

.logo {
    width: 130px;
}

.navbar-nav > .nav-item > .nav-link {
    color: #f6f7f9;
}

.flag-icon {
    width: 30px;
    height: 20px;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#dropdown-menu {
    border: none;
}

.navbar-nav > li > .nav-link, .navbar-nav > li > #profiledrop, .navbar-nav > li > #dropdown-menu > li > div > a {
    color: #f6f7f9;
    transition-duration: 0.3s;
}

.navbar-nav > li > .nav-link:hover, .navbar-nav > li > #profiledrop:hover, .navbar-nav > li > #dropdown-menu > li > div > a:hover {
    background-color: #3c7bef;
}

.btn-primary {
    background-color: #1566db;
}

.btn-success {
    background-color: #3b997a;
}

.btn-success:hover {
    background-color: #339964;
}

.btn-info {
    background-color: #2851a3;
}

@media screen and (min-width: 576px) {
    #collapsibleNavbar {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        width: 40px;
    }
}