/* COURSE TITLE */

/*
#course-title-header {
    background-color: #3c7bef;
    color: #f6f7f9;
}

.progress-bar {
    background-color: #2851a3;
}
*/



#courseHeader {
	background-color:#3c7bef;
	padding:75px 75px 25px 75px;
}