body {
    background-color: #f6f7f9;
}

#filter-header {
    background-color: #3c7bef;
    color: #f6f7f9;
}

.btn-filter {
    color: #f6f7f9;
    background-color: #2851a3;
}

.btn-filter:hover {
    color: #f6f7f9;
    background-color: #1666db;
}

.package {
    width: 130px;
    height: 170px;
    background-color: #1c7430;
}

.fa-heart {
    color: deeppink;
}

.buy-btn {
    background-color: #ffc107;
    bottom: 5%;
    cursor: pointer;
}

div > a, div > a:hover {
    text-decoration: none;
    color: black;
}