/* HTML */

html, body {
    height: 100%;
}

body {
    background-color: #f6f7f9;
}

/*-------------------------------------------------------*/

/* FILTERS */

#filter-header {
    background-color: #3c7bef;
    color: #f6f7f9;
}

#difficulty-filter {
    background-color:#1566DB;
    border-radius:5px;
    height:38.4px;
}

#difficulty-filter, .difficulty-setter {
    cursor: pointer;
}

/*-------------------------------------------------------*/

/* LEARNING LANGUAGE MODAL */

.figure {
    cursor: pointer;
}

.figure-caption {
    font-size: 18px;
}

/*-------------------------------------------------------*/

/* COURSE CARD CONTENT */

.fa-heart {
    color: deeppink;
    cursor: pointer;
}

div > a, div > a:hover {
    text-decoration: none;
    color: black;
}