body {
    background-color: #f6f7f9;
}

#profile-header {
    background-color: #3c7bef;
    color: #f6f7f9;
}

#profile-names {
    position: relative;
    padding-top: 50%;
}

#profile-name,  #profile-status {
    position: absolute;
    left: 0;
}

#profile-name {
    bottom: 15%;
    font-size: 3vw;
}

#profile-status {
    bottom: 0;
    font-size: 2vw;
}

#profile-experience, #profile-achievements {
    font-size: 1.5vw;
}

.progress-bar {
    background-color: #2851a3;
}

.package {
    width: 130px;
    height: 170px;
    background-color: #1c7430;
}

@media screen and (max-width: 400px) {
    #profile-name {
        font-size: 6vw;
    }

    #profile-status, #profile-experience, #profile-achievements {
        font-size: 5vw;
    }
}