body {
    background-color: #f6f7f9;
}

#profile-header {
    background-color: #3c7bef;
    color: #f6f7f9;
}

.circular--portrait {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    width: 12vw;
    height: 12vw;
    max-width: 12vw;
    max-height: 12vw;
    overflow: hidden;
}

.circular--portrait img, .achievement-medal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-names {
    position: relative;
    padding-top: 50%;
}

#profile-name,  #profile-status {
    position: absolute;
    left: 0;
}

#profile-name {
    bottom: 15%;
    font-size: 3vw;
}

#profile-status {
    bottom: 0;
    font-size: 2vw;
}

#profile-experience, #profile-achievements {
    font-size: 1.5vw;
    padding-left: 10px;
}

.progress-bar {
    background-color: #2851a3;
    width: 70%;
}

#profile-achievements {
    cursor: pointer;
}

#profile-achievements:hover {
    text-decoration: underline;
}

#achievements {
    background-color: #6aade1;
}

.fa-wrench {
    cursor: pointer;
}

.modal-header, .modal-footer {
    border: none;
}

label {
    font-weight: bold;
}

.achievement-medal {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    width: 5vw;
    height: 5vw;
    max-width: 5vw;
    max-height: 5vw;
    overflow: hidden;
}

.package {
    width: 130px;
    height: 170px;
    background-color: #1c7430;
}

@media screen and (max-width: 550px) {
    #profile-name {
        font-size: 6vw;
    }

    #profile-status, #profile-experience, #profile-achievements {
        font-size: 5vw;
    }
}

@media screen and (min-width: 551px) and (max-width: 580px) {
    #profile-name {
        font-size: 5vw;
    }

    #profile-status, #profile-experience, #profile-achievements {
        font-size: 4vw;
    }
}

@media screen and (min-width: 581px) and (max-width: 1000px) {

    #profile-name {
        font-size: 3.5vw;
    }

    #profile-status, #profile-experience, #profile-achievements {
        font-size: 2.5vw;
    }
}