/*-------------------------------------------------------*/

/* HTML */

html, body {
    height: 100%;
}

/*-------------------------------------------------------*/

/* WARNING SIGN */

.fa-12x {
    font-size: 12em;
    color: #b98942;
}